<head>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<div class="container">
     <br><br>
         <h1 class="text-center"> MODIFICAR AREA</h1>  
    <form action="/area/{{data._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="form-group">
            <strong>Codigo del producto</strong>
            <input type="text" class="form-control"  name="codigo" value="{{data.codigo}}"required>
        </div>
        <br>
        <div class="form-group">
              <strong>Nombre</strong>
            <input type="text" class="form-control"  name="area" value="{{data.area}}"required>
        </div>
        <br>
        <div class="form-group">
              <strong>Descripción</strong>
            <input type="text" class="form-control" name="descripcion" value="{{data.descripcion}}"required>
    
        </div>
<br>
        <button  type="submit" class="btn btn-secondary">Aceptar</button>
        <button type="submit"  class="btn btn-danger">Cancelar</button>
    </form>
    <br>
</div>

