<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
</body>
<main class="main">
<div class="container"> 
    <br><br>     
   <h1 class="text-center"> LISTA DE PERIFERICOS </h1>
        <table class="table table-hover">
            <thead>
                <tr>
                     <tr class="table-secondary">
                    <th>Nombre</th>
                    <th>Código del producto</th>
                    <th>cantidad</th>
                    <th colspan="1">Acciones</th>
                      <th colspan="2">Acciones</th>
                      </tr>
                </tr>
                <br>
            </thead>
            {{#each areas.data}}
                <tr>
                    <td>{{ codigo }}</td>
                    <td>{{  area }}</td>
                     <td>{{  descripcion }}</td>
                   
                 <td> <a class="btn btn-secondary" href="/area/{{_id}}">Modificar</a></td>
                 <td> 
                      <form action="/area/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger mr-0" type="button">
                        Eliminar
                    </button>
                </form>
                </td>
    
                </tr>
            {{/each}}
        </table>

         
    </div>
    </div>

   

<div class="text-center">
   <td> <a  class="btn btn-secondary" href="/area/nuevoA">Ingresar</a></td>
   </div>
</div>
<br>
</main>
