<head>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
 <br>
<div class="container">
    <br>
    <form action="/equi/{{data._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_id" value="PUT" >
        <div class="form-group">
            <strong for="cantidad">Cantidad</strong>
            <input type="text" class="form-control" id="cantidad" name="cantidad" value="{{data.cantidad}}"required>
        </div>
        <br>
        <div class="form-group">
            <strong for="nombre">Nombre</strong>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{data.nombre}}"required>
        </div>
        <br>
        <div class="form-group">
            <strong for=" descripcion">Descripcion</strong>
            <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{data.descripcion}}"required>
         <br>
      </div><br>
        <button type="submit" class="btn btn-secondary">Aceptar</button>
        <button type="submit" class="btn btn-danger">Cancelar</button>
    </form>
    <br>
</div>