<head>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<div class="container">
<main class="main">   
    <br><br>
   <h1 class="text-center"> LISTA DE EQUIPO</h1>
   <br>
        <table class="table table-hover">
            <thead>
                <tr>
                      <tr class="table-secondary">

                    <th>Cantidad</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th colspan="1">Acciones</th>
                      <th colspan="2">Acciones</th>
                </tr>
                </tr>
            </thead>
            {{#each equis.data}}
                <tr>
                    <td>{{ cantidad }}</td>
                    <td>{{  nombre }}</td>
                    <td>{{  descripcion }}</td>
                 <td> <a class="btn btn-secondary" href="/equi/{{_id}}">Modificar</a></td>
                 <td> 
                      <form action="/equi/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger mr-0" type="button">
                        Eliminar
                    </button>
                </form>
                </td>
    
                </tr>
            {{/each}}
        </table>
        </div>     
    </div>
    </div>

<div class="text-center">
   <td> <a  class="btn btn-secondary" href="/equi/nuevoE">Ingresar</a></td>
   </div>
   <br>
</div>
</main>
