{{!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body>
    <div class="containerp">
        <div class="box">
            <a href="/usuario/">
                <img src="/imagen/PC3.jpg">
                <div class="capa">
                    <h2>Gestion de Usuarios</h2>
                </div>
            </a>
        </div>
        
        <div class="box">
            <a href="/lab/">
                <img src="/imagen/PC5.png">
                <div class="capa">
                    <h2> Gestion de Laboratorio</h2>
                </div>
            </a>
        </div>
        
        <div class="box">
            <a href="/equi/">
                <img src="/imagen/PC6.png">
                <div class="capa">
                    <h2> Gestion de Equipo</h2>
                </div>
            </a>
        </div>
         <div class="box">
            <a href="/area/">
                <img src="/imagen/PC4.jpg">
                <div class="capa">
                    <h2> Gestion de Areas</h2>
                </div>
            </a>
        </div>
    </div>
</body>
</html> --}}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Cards - Tarjetas con efecto Hover</title>
	<link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
	<!--   Tarjetas-->
<div class="title-cards">
		<h2>CATEGORIAS</h2>
	</div>
<div class="container-card">
	
<div class="card">
	<figure>
		<img src="/imagen/PC1.png">
	</figure>
	<div class="contenido-card">
		<h3>PCS DE ESCRITORIO </h3>
		<p>Te dejamos algunas de las configuraciones con mejor relación rendimiento/precio del mercado, recuerda que todas las puedes modificar a tu gusto contactándote con un asesor.</p>
		<a href="#">Leer Màs</a>
	</div>
</div>
<div class="card">
	<figure>
		<img src="/imagen/PC2.png">
	</figure>
	<div class="contenido-card">
		<h3>LAPTOS</h3>
		<p>Laptops y Computadoras en varias marcas HP - DELL - LENOVO | lo último en tecnología .</p>
		<a href="#">Leer Màs</a>
	</div>
</div>
<div class="card">
	<figure>
		<img src="/imagen/PC3.png">
	</figure>
	<div class="contenido-card">
		<h3>HARDWARE</h3>
		<p>En nuestra tienda encontrarás todo lo necesario para armar tu nueva computadora, ya sea para gaming, uso profesional o doméstico.</p>
		<a href="#">Leer Màs</a>
	</div>
</div>
<div class="card">
	<figure>
		<img src="/imagen/PC4.jpg">
	</figure>
	<div class="contenido-card">
		<h3>PERIFERICOS</h3>
		<p>Te dejamos algunas de las configuraciones con mejor relación rendimiento/precio del mercado, recuerda que todas las puedes modificar a tu gusto contactándote con un asesor.</p>
		<a href="#">Leer Màs</a>
	</div>
</div>
</div>
<!--Fin   Tarjetas-->
</body>
</html>