<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
 />
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>


<main class="main">
<div class="container">
    <br><br>
 <h1 class="text-center"> LISTA DE MARCAS PRINCIPALES</h1>

     <table class="table table-hover">
            <thead>
                <tr>
                    <tr class="table-secondary">
                    <th>Marca</th>
                    <th>cantidad de equipos</th>
                    <th>Observación</th>
                    <th colspan="2">Opciones</th>
                </tr>
                </tr>
                <br>
            </thead>
            {{#each labs.data}}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ capacidad }}</td>
                    <td>{{ observacion }}</td>
                 <td> <a class="btn btn-secondary" href="/lab/{{_id}}">Modificar</a></td>
                 <td> 
                      <form action="/lab/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger mr-0" type="button">
                        Eliminar
                    </button>
                </form>
                </td>
    
                </tr>
            {{/each}}
        </table>

        <div class="text-center">
   <td> <a  class="btn btn-secondary" href="/lab/nuevoL">Ingresar</a></td>
   </div>
   <br>
</div>

  

</main>
