<head>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<div class="container">
    <br><br>
         <h1 class="text-center"> AGREGAR PERIFERICOS</h1>
    <form action="/area/{{data1}}?_method=POST" method="POST">
        <input type="hidden" name="_method" value="POST" />
        <div class="form-group">
            <strong>Código de producto </strong>
            <input type="text" class="form-control"  name="codigo" value="{{codigo}}"required>
        </div>
        <br>
        <div class="form-group">
             <strong>Nombre de producto</strong>
            <input type="text" class="form-control"  name="area" value="{{area}}"required>
        </div>
        <br>
     <div class="form-group">
              <strong>Cantidad</strong>
            <input type="text" class="form-control"  name="descripcion" value="{{descripcion}}"required>
        </div>
<br>
        <button  type="submit" class="btn btn-secondary">Aceptar</button>
        <td> <a class="btn btn-danger" href="/area/">cancelar</a></td>
    </form>
    <br>
</div>