<head>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<div class="container">
    <br>
    <br>
         <h1 class="text-center"> AGREGAR UNA CATEGORIA</h1>
    <form action="/usuario/{{data1}}?_method=POST" method="POST">
        <input type="hidden" name="_method" value="POST" />
        <div class="form-group">
         <strong>Nombre</strong>   
            <input type="text" class="form-control"  name="name" value="{{name}}"required>
        </div>
        <br>
        <div class="form-group">
         <strong>Descripción</strong>   
            <input type="text" class="form-control"  name="username" value="{{username}}"required>
        </div>
        <br>
<br>
        <button  type="submit" class="btn btn-secondary">Aceptar</button>
        <td> <a class="btn btn-danger" href="/usuario/">cancelar</a></td>
    </form>
    <br><br><br>
</div>