<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
 />
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>
 <br>
<div class="container">
    <br><br>
         <h1 class="text-center"> MODIFCAR CATEGORIA</h1>

    <form action="/usuario/{{data._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="form-group">
           <strong>Nombre</strong>   
            <input type="text" class="form-control"  name="name"  value="{{data.name}}"required >
        </div>
             <br>
        <div class="form-group">
                 <strong>Descrición</strong>   
            <input type="text" class="form-control"  name="username" value="{{data.username}}" required>
        </div>
             <br>
        
<br>
        <button  type="submit" class="btn btn-secondary">Aceptar</button>
        <button type="submit"  class="btn btn-danger">Cancelar</button>
    </form>
    <br> <br> <br> <br>
</div>

