<head>

  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<main class="main">
<div class="container">
<br><br>
   <h1 class="text-center"> LISTA DE CATEGORIA</h1>
         <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <tr class="table-secondary">

                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th colspan="1">Acciones</th>
                     <th colspan="2">Acciones</th>
                </tr>
            </thead>
            {{#each usuarios.data}}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ username }}</td>
                 <td> <a class="btn btn-secondary" href="/usuario/{{_id}}">Modificar</a></td>
                 <td> 
                      <form action="/usuario/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger mr-0" type="button">
                        Eliminar
                    </button>
                   
                </form>
                </td>
    
                </tr>
            {{/each}}
        </table>

         
    </div>
    </div>

   

<div class="text-center">
   <td> <a  class="btn btn-secondary" href="/usuario/nuevoU">Ingresar</a></td>
   </div>
</div>
<br><br>
</main>
